form {
    margin-bottom: 2rem;
}

form > input {
    color: black;
    background-color: white;
    height: 7rem;
    padding: 0 2.5rem;
    margin: 4rem 0 3rem 0;
    border: none;
    border-bottom: 0.1rem solid red;
    outline: none;
    font-size: 3.7rem;
    width: 40rem;
}
@media only screen and (min-width: 1000px){
    form > input {
        height: 3rem;
        padding: 0 1rem;
        margin: 0;
        font-size: 1.8rem;
    }
}





    